.additional-products {
  position: relative;
  margin: 0 20px 35px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 3px;
    margin-top: 2px;
    right: -20px;
    background: @palette-secondary;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;

    &::before {
      width: 110%;
      top: 42px;
      right: 0;
    }
  }
}

.additional-products__title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @primary-color;
  padding-right: 22px;
  margin: 28px 0 34px 0;
  background-color: @quaternary-color;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 22px 36px 80px 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 89px;
  }
}

.additional-products__list {
  list-style: none;
  margin-bottom: 39px;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid @border-color-secondary;

  &:first-child {
    border-top: 1px solid @border-color-secondary;
  }
}

.additional-products__subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: @text-transform-base;
  color: @tertiary-color;
}

.additional-products__table {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 13px;
  font-family: @font-family-secondary;
  border-collapse: collapse;

  td:last-child {
    text-align: right;
  }
}

.btn--additional-products {
  background: @palette-secondary;
  color: @quaternary-color;
  display: block;
}

.additional-products__banner {
  flex: 0 0 100%;
  max-width: 100%;
}

.additional-products__banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 289px;
  width: 100%;
  padding: 39px 10px 40px;
  text-align: center;
  color: @quaternary-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @palette-secondary;
  background-size: cover;
}

.additional-products__banner-link {
  max-width: 150px;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  font-family: @font-family-secondary;
}
