.catalog {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    margin: 0 auto;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @primary-color;
  margin: 0 -20px;
  padding: 15px 20px 28px;
  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin: 0;
    padding: 37px 20px 105px 30px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 65px 20px 108px 40px;
  }
}

.catalog__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
}

.catalog__wrapper-item {
  @media (min-width: @tablet-width) {
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: column;
    margin: 60px 0 80px;
  }

  @media (min-width: @desktop-width) {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 57px 0 85px;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid @secondary-palette-hover;
  margin: 0 -20px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    background: @palette-tertiary;
    margin: 0 30px;
    padding: 0 38px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0 40px;
    padding: 0 38px;
  }
}

.catalog__img-link {
  width: 50%;

  @media (min-width: @tablet-width) {
    flex: 0 0 auto;
    max-width: inherit;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    min-height: 213px;
    margin: -84px auto 0;
  }
}

.catalog__info {
  width: 50%;
  padding: 21px 0 0 0;

  @media (min-width: @tablet-width) {
    flex: 0 0 auto;
    width: inherit;
    padding: 34px 0 0 0;
  }
}

.catalog__link {
  width: 100px;
  display: block;
  padding: 0 0 13px 0;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 130px;
    padding: 0;
    margin: 0 auto 15px;
  }
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @primary-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.catalog__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: @font-family-secondary;

  td:last-child {
    text-align: right;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;

    tr {
      border-bottom: 1px solid @border-color-secondary;
    }

    td {
      font-size: 16px;
      padding: 8px 0 7px;
    }
  }
}

.catalog__btn {
  background: @palette-secondary;
  color: @quaternary-color;
  margin: -3px 0 24px;

  @media (min-width: @tablet-width) {
    margin: 0 0 40px;
  }
}
