.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-family: @font-family-secondary;
}

.copyright__image {
  background-color: red; //временно
  width: 15px;
  height: 15px;
}
