.copyright {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-family: @font-family-secondary;
}

.copyright__image {
  background-color: red; //временно
  width: 15px;
  height: 15px;
}
