.instruction {
  margin: 18px 20px 0;

  .instruction__title {
    font-size: 36px;
    font-weight: 400;
    color: @primary-color;
    padding-bottom: 49px;
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    counter-reset: section;
    margin-bottom: 22px;
  }

  .instruction__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .instruction__item--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  .instruction__item--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  .instruction__item--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  .instruction__item--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  .instruction__item::before {
    display: block;
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: @palette-secondary;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .instruction__text {
    font-family: @font-family-secondary;
  }
}
