.page-footer {
  padding: 0 20px;
  background-color: @palette-tertiary;
}

.page-footer__wrapper {
  text-align: center;
  align-items: center;
}

.page-footer__logo {
  margin: 37px 0 28px;
}

.page-footer__social {
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}
