.page-header {
  position: relative;
  border-bottom: 1px solid @border-color;
  padding: 0 20px;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    border-bottom: none;
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  &--preview {
    @media (min-width: @desktop-width) {
      .page-header__link {
        color: @quaternary-color;

        &::after {
          background: @palette-primary;
        }
      }
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      background: @palette-secondary url("../img/index-background-mobile@1x.jpg") no-repeat center center;
      background-size: cover;
      min-height: 306px;
      z-index: -1;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");
      }

      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: block;
        width: 50%;
        min-height: 696px;
        top: 0;
        right: 0;
        left: inherit;
        background: @palette-secondary url("../img/index-background-desktop@1x.jpg") no-repeat;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 43px;
  }
}

.page-header__logotype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 191px;
  margin: 0 20px 13px 0;
  transition: 0.2s;

  picture {
    display: block;
  }

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin: 0 20px 7px 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logotype-icon {
  margin-top: 11px;

  @media (min-width: @tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 201px;
    height: 59px;
  }
}

.page-header__logotype-name {
  width: 101px;
  height: 18px;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__trigger {
  position: relative;
  background-color: inherit;
  width: 24px;
  height: 19px;
  margin-top: 23px;
  overflow: hidden;
  cursor: pointer;
  border: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &--nojs {
    display: none;
  }
}

.page-header__trigger-name {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  background: @tertiary-color;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  font-size: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    background: @tertiary-color;
    width: 100%;
    height: 2px;
    transform-origin: 50% 50%;
    transition: 0.3s 0.3s, transform 0.3s;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.page-header__trigger--close {
  .page-header__trigger-name {
    background: transparent;

    &::before,
    &::after {
      transform: rotate3d(0, 0, 1, 45deg);
      transition: 0.3s, transform 0.3s 0.3s;
      top: 0;
    }

    &::before {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}


.page-header__list {
  display: none;
  flex-direction: column;
  text-align: center;
  list-style: none;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: @text-transform-base;
  margin: 0;
  padding: 0;

  &--nojs {
    display: flex;
  }

  &--open {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    min-width: 440px;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    border-bottom: none;
    width: 1300px;
    margin: 0 auto;
    padding: 0 0 0 40px;
    margin-top: 30px;
  }
}

.page-header__item {
  border-top: 1px solid @border-color;
  padding: 23px 0 22px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-top: 0;
    margin-left: 37px;
    margin-right: 0;
    margin-bottom: 10px;

    &:nth-child(2) {
      margin-left: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 34px;

    &:nth-child(2) {
      margin-left: 35px;
    }
  }
}

.page-header__link {
  position: relative;
  color: @primary-color;
  transition: 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }

  &--active {
    @media (min-width: @tablet-width) {
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 2px;
        background: @palette-secondary;
        width: 100%;
      }
    }
  }
}
