.programs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    margin: 0 auto;
  }
}

.programs__column {
  @media (min-width: @desktop-width) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.programs__card {
  position: relative;
  background: @palette-tertiary;
  padding: 39px 20px 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 86px 280px 59px 52px;
    margin-bottom: 30px;

    &--indents {
      padding-right: 312px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 77px 52px 60px 52px;
  }
}

.programs__img {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background: @palette-secondary;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    right: 62px;
    top: 92px;
    width: 200px;
    height: 200px;
    left: inherit;
  }

  @media (min-width: @desktop-width) {
    right: inherit;
    top: 47px;
    width: 100px;
    height: 100px;
    left: 52px;
  }
}

.programs__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    &--slim {
      top: 44%;
      width: 100%;
      height: 100%;
      left: 51%;
    }

    &--pro {
      top: 49%;
      width: 136%;
      height: 100%;
      left: 51%;
    }
  }
}

.programs__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: @primary-color;
  margin-top: 0;
  margin-bottom: 39px;
  padding-left: 71px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    padding-left: 0;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    line-height: 36px;
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.programs__text {
  font-family: @font-family-secondary;
  padding-bottom: 22px;
  margin-bottom: 18px;
  border-bottom: 1px solid @border-color;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    border-bottom: inherit;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 32px;
  }
}

.programs__link {
  position: relative;
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 16px;
  color: @primary-color;
  background: @palette-tertiary;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 24px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    padding-right: 23px;
    font-size: 20px;
  }
}
