.result__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto 36px;
  width: 280px;
}

.result__item {
  max-width: 124px;
  width: 100%;
  padding: 16px 10px 2px;
  text-align: center;
  border: 1px solid @border-color-secondary;
  border-radius: 5px;
}

.result__wrapper {
  max-width: 82px;
  padding: 0 0 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -26px;
  background: @palette-tertiary;
}

.result__total {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @primary-color;
}

.result__text {
  font-size: 12px;
  line-height: 12px;
  margin: 7px 0 0;
  color: @tertiary-color;
  font-family: @font-family-secondary;
}
