.show-more {
  border-bottom: 1px solid @border-color;
  margin: 0 -20px;

  @media (min-width: @tablet-width) {
    margin: 95px 0 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 65px 0 0;
  }
}

.show-more__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 80px 20px 24px;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    padding: 40px 35px 39px;
    border: 1px solid @border-color;

    &::before {
      top: 54px;
      width: 60px;
      height: 60px;
      opacity: 0.2;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 39px;
  }
}

.show-more__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @primary-color;
  text-transform: @text-transform-base;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin: 123px auto 25px;
    max-width: 140px;
    width: 100%;
    font-size: 20px;
  }
}

.show-more__text {
  font-family: @font-family-secondary;
  font-size: 12px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 83px;
    max-width: 180px;
    width: 100%;
  }
}

.btn--show-more {
  background: @palette-tertiary;
  color: @secondary-color;
}
